<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Smarthr - Bootstrap Admin Template">
	<meta name="keywords" content="admin, estimates, bootstrap, business, html5, responsive, Projects">
	<meta name="author" content="Dreams technologies - Bootstrap Admin Template">
	<meta name="robots" content="noindex, nofollow">
	<title>Smarthr Admin Template</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="template/assets/img/favicon.png">

	<!-- Apple Touch Icon -->
	<link rel="apple-touch-icon" sizes="180x180" href="template/assets/img/apple-touch-icon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="template/assets/css/bootstrap.min.css">

	<!-- Feather CSS -->
	<link rel="stylesheet" href="template/assets/plugins/icons/feather/feather.css">

	<!-- Tabler Icon CSS -->
    <link rel="stylesheet" href="template/assets/plugins/tabler-icons/tabler-icons.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="template/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="template/assets/plugins/fontawesome/css/all.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="template/assets/css/style.css">

</head>

<body class="bg-linear-gradiant d-flex align-items-center justify-content-center">

	<div id="global-loader" style="display: none;">
		<div class="page-loader"></div>
	</div>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<div class="container">
			<div class="coming-soon">
				<!-- Page Wrapper -->
				<div class="Page-wrapper">
					<div class="row flex-wrap justify-content-center align-items-center">
						<div class="col-md-8 d-flex justify-content-end align-items-center mx-auto">
							<div class="comming-soon-pg d-flex flex-column align-items-center justify-content-center">
								<div class="mb-4 p-4">
									<img src="template/assets/img/logo.svg" alt="logo" class="img-fluid">
								</div>
								<div>
									<img src="template/assets/img/bg/coming-soon.svg" alt="image" class="img-fluid">
								</div>
								<ul class="d-inline-flex align-items-center justify-content-center mb-3">
									<li class="me-sm-3 me-2">
										<div class="d-flex flex-column align-items-center">
											<div class="d-flex counts-card align-items-center mb-2 justify-content-center flex-column border rounded bg-primary px-sm-4 py-sm-3 p-2">
												<h3 class="days fs-sm-30 text-white fs-24">54</h3>
											</div>
											<p class="text-gray-9 fw-medium fs-16">Days</p>
										</div>
									</li>
									<li class="text-gray fw-bold fs-30 me-sm-3 mb-4 me-2">:</li>
									<li class="me-sm-3 me-2">
										<div class="d-flex flex-column align-items-center">
											<div class="d-flex align-items-center  counts-card mb-2 justify-content-center flex-column border rounded bg-primary px-sm-4 py-sm-3 p-2">
												<h3 class="hours fs-sm-30 text-white fs-24">2</h3>
											</div>
											<p class="text-gray-9 fw-medium fs-16">Hours</p>
										</div>
										<li class="text-gray fw-bold fs-30 me-sm-3 mb-4 me-2">:</li>
									<li class="me-sm-3 me-2">
										<div class="d-flex flex-column align-items-center">
											<div class="d-flex align-items-center  counts-card mb-2 justify-content-center flex-column border rounded bg-primary px-sm-4 py-sm-3 p-2">
												<h3 class="minutes fs-sm-30 text-white fs-24">54</h3>
											</div>
											<p class="text-gray-9 fw-medium fs-16">Minutes</p>
										</div>
									</li>
									<li class="text-gray fw-bold fs-30 me-sm-3 mb-4 me-2">:</li>
									<li>
										<div class="d-flex flex-column align-items-center">
											<div class="d-flex align-items-center  counts-card mb-2 justify-content-center flex-column border rounded bg-primary px-sm-4 py-sm-3 p-2">
												<h3 class="seconds fs-sm-30 text-white fs-24">10</h3>
											</div>
											<p class="text-gray-9 fw-medium fs-16">Seconds</p>
										</div>
									</li>
								</ul>
								<div>
									<p class="fs-16 text-gray-9 text-center">Please check back later, We are working hard  to get <br> everything  just  right.</p>
									<div class="subscribe-form">
										<div class="mb-3 position-relative">
											<p class="d-flex text-gray-9 text-center fw-medium fs-16 mb-3">Subscribe to get notified</p>
											<div class="bg-transparent border  p-2 d-flex align-items-center rounded ps-0">
												<input type="email" class="form-control bg-transparent border-0" placeholder="Enter Your Email">
												<a href="javascript:void(0);" class="btn btn-primary">Subscribe</a>
											</div>
										</div>
									</div>
									<div class="d-flex flex-wrap justify-content-center align-items-center pb-4">
										<a href="#" class="btn btn-primary rounded-circle btn-icon btn-sm me-2 d-flex align-items-center justify-content-center"><i class="ti ti-brand-facebook fs-16"></i></a>
										<a href="#" class="btn btn-primary rounded-circle btn-icon btn-sm me-2 d-flex align-items-center justify-content-center"><i class="ti ti-brand-twitter fs-16"></i></a>
										<a href="#" class="btn btn-primary rounded-circle btn-icon btn-sm me-2 d-flex align-items-center justify-content-center"><i class="ti ti-brand-linkedin fs-16"></i></a>
										<a href="#" class="btn btn-primary rounded-circle btn-icon btn-sm d-flex align-items-center justify-content-center"><i class="ti ti-brand-instagram fs-16"></i></a>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Page Wrapper -->
				
			</div>
			
		</div>
	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="template/assets/js/jquery-3.7.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="template/assets/js/bootstrap.bundle.min.js"></script>

	<!-- Feather Icon JS -->
	<script src="template/assets/js/feather.min.js"></script>

	<!-- Custom JS -->
	<script src="template/assets/js/coming-soon.js"></script>
	<script src="template/assets/js/script.js"></script>

</body>

</html>